extend layout

block content
  +backgroundMenuFade()
  .container
    .grid
      .grid-sizer
      - for project in projects
        a.grid-item.portfolioLink(href="/#{project.name}" onclick="ga('send', 'event', 'Project', 'click', '#{project.name}');")
          .item-content
            img(src="https://s3.amazonaws.com/mdeely-portfolio-assets/images/#{project.name}/#{project.images.thumb}")
          .item-details #{project.title}

block navigation
  +masthead()
  +navigation(false, true)

  //- /#{project.name.replace('&', 'and').replace(/\s+/g, '-').toLowerCase()}
